squad.dtd

<!ELEMENT squad (name, email, web?, picture?, title?, member+)>
<!ATTLIST squad nick CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT web (#PCDATA)>
<!ELEMENT picture (#PCDATA)>
<!ELEMENT title (#PCDATA)>

<!ELEMENT member (name, email, icq?, msn?, remark?)>
<!ATTLIST member id CDATA #REQUIRED nick CDATA #REQUIRED>

<!ELEMENT icq (#PCDATA)>
<!ELEMENT msn (#PCDATA)>
<!ELEMENT remark (#PCDATA)>
